* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.light-theme {
  --background: #fff;
  --nav-bg: #ebeaea;
  --text-color: #000000ce;
  background: #fff;
  --other-bg: #fff;
}
.dark-theme {
  --background: #121212;
  --nav-bg: #1e1e1e;
  --text-color: #fff;
  --other-bg: #333;
  background: #121212;
}
:root {
  font-size: 62.25%;
  font-family: "Montserrat", sans-serif;
  --red-color: #f7224e;
  --red-dark: #db0632;
}
nav .logo {
  color: var(--text-color);
  font-size: 3rem;
}
nav ul li {
  font-size: 2rem;
}
nav {
  display: flex;
  justify-content: space-around;
  height: 7rem;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 8px 8px 41px -2px rgba(0, 0, 0, 0.41);
  background: var(--nav-bg);
  z-index: 999;
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  list-style: none;
}
nav ul li a {
  position: relative;
  text-decoration: none;
  padding: 1rem 2rem;
}
nav ul li a::before {
  content: "";
  border-top: 2px solid var(--red-color);
  border-left: 2px solid var(--red-color);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in;
}
nav ul li a::after {
  content: "";
  border-bottom: 2px solid var(--red-color);
  border-right: 2px solid var(--red-color);
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in;
}
nav ul li a {
  color: var(--text-color);
}
nav ul li a:hover::before {
  width: 20%;
  height: 30%;
}
nav ul li a:hover::after {
  width: 20%;
  height: 30%;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
h1.heading {
  color: var(--text-color);
  margin-top: 2rem;
  text-align: center;
  font-size: 2.5rem;
}
div.container textarea {
  background: var(--other-bg);
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
}
button.btn {
  background: var(--red-dark);
  padding: 0.8rem 1.5rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  border: none;
  margin-top: 1rem;
  color: #fff;
  font-weight: 600;
  cursor: alias;
  transition: 0.3s ease-out;
  margin-right: 1rem;
  cursor: pointer;
}
button.btn:hover {
  background: var(--red-color);
  color: #fff;
}
.convert p {
  color: var(--text-color);
  margin: 2rem 0;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text-color);
}
.summary h1 {
  color: var(--text-color);
  margin-top: 2rem;
}
.summary span {
  color: var(--text-color);
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
}
.convert h1 {
  color: var(--text-color);
  margin-top: 2rem;
  font-size: 3rem;
  text-align: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 3rem;
  background: #000;
  border-radius: 2rem;
  transition: all 0.3s linear;
  cursor: pointer;
}
.switch::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 100%;
  background: url("./Images/moon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  border-radius: 50%;
  transition: all 0.3s linear;
}
input[type="checkbox"]:checked + .switch::after {
  background: url("./Images/sun.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  translate: 3rem 0;
}
input[type="checkbox"] {
  display: none;
}
.icons {
  color: var(--red-color);
  display: inline-block;
}
.fa-brands {
  padding: 0.5em;
}
footer {
  background: var(--nav-bg);
  text-align: center;
  box-shadow: 8px 12px 41px -22px rgba(0, 0, 0, 0.78);
  margin-top: 50vh;
}
footer > p {
  font-size: 1.6rem;
  padding: 1rem;
  font-weight: 600;
  color: var(--text-color);
}

/* ##############################################
       Cotact Us Deigning
############################################# */
.contact-head {
  color: var(--text-color);
  font-size: 4rem;
  margin-top: 1rem;
  text-align: center;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.contact-head::after {
  content: "";
  display: block;
  width: 25%;
  height: 0.7rem;
  background: var(--red-color);
  margin: auto;
}
input[type="text"],
input[type="email"],
label,
textarea {
  display: block;
  width: 100%;
  margin-top: 1rem;
  font-size: 1.6rem;
  color: var(--text-color);
}
label {
  color: var(--text-color);
}
input,
textarea {
  border: 1px solid var(--text-color);
  padding: 0.5rem;
  background: var(--other-bg);
}
.form {
  width: 80%;
  margin: auto;
}
textarea {
  margin-bottom: 1rem;
}
input[type="submit"] {
  background: var(--red-color);
  color: #fff;
  border: none;
  display: block;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 700;
  cursor: pointer;
}
input[type="submit"]:hover {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.contact {
  height: 100vh;
}
.alert-success {
  font-size: 1.8rem;
}
/* ##############################################
       About Us
############################################# */
.about-head {
  color: var(--text-color);
  font-size: 4rem;
  margin: 1rem 0;
  -webkit-animation: tracking-in-expand-fwd 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.about-head::after {
  content: "";
  display: block;
  background: var(--red-color);
  width: 20%;
  height: 5px;
}
.about-img {
  border-radius: 0.5rem;
  width: 30%;
  float: left;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.about-img img {
  width: 100%;
  padding-right: 1rem;
  border-radius: 1rem;
}
.about-cont {
  text-align: justify;
}
.about-cont p {
  color: var(--text-color);
  font-size: 1.6rem;
}
.about-cont p a {
  text-decoration: none;
}
.about-cont h1 {
  color: var(--text-color);
}
a.btn-follow {
  color: #fff;
  display: block;
  background: var(--red-color);
  font-size: 1.6rem;
  text-decoration: none;
  padding: 0.3em;
  margin-top: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in;
}
a.btn-follow:hover {
  background: var(--red-dark);
}
.img-cont {
  color: #fff;
  position: absolute;
  top: 100%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.about-img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #000000af;
  width: 100%;
  height: 10%;
  border-radius: 0.5rem;
  opacity: 0;
  transition: 0.3s ease-in;
}
.about-img:hover .img-cont {
  top: 50%;
  opacity: 1;
}
.about-img:hover::after {
  opacity: 1;
  height: 100%;
}
/* ##############################################
       Media Queries
############################################# */
@media screen and (max-width: 680px) {
  nav ul li a::before {
    display: none;
  }
  nav ul li a::after {
    display: none;
  }
  nav ul li a {
    padding: 0;
  }
  .dark-btn {
    font-size: 1rem;
    width: 6rem;
  }
  .about-img {
    float: none;
    width: 50%;
    margin: 1rem auto;
  }
  .img-cont {
    display: none;
  }
  .about-img::after {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  nav {
    display: block;
    text-align: center;
    height: 8rem;
  }
  nav ul {
    margin: 1rem 0;
    width: 100%;
    justify-content: space-evenly;
  }
  button.btn {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
  }
  .dark-btn {
    display: none;
  }
  .img-cont {
    display: none;
  }
  .about-img::after {
    display: none;
  }
}
